<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div class="contenedor-header">
        <header>
            <div class="logo">
                <a href="#">Victor Garcia</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
                    <li><a href="#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
                    <li><a href="#skills" onclick="seleccionar()">HABILIDADES</a></li>
                    <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                    <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
                </ul>
            </nav>
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
    </div>

    <section id="inicio" class="inicio">
        <div class="contenido-banner">
            <h1>Victor Garcia</h1>
            <br>
            <h2>Ingeniero en Sistemas Computacionales - Desarrollo de Software Jr.</h2>
        </div>
    </section>

    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h2>Sobre Mí</h2>
            <p><span>Hola, soy Victor Garcia.</span> <br>
                Desarrollador de Software Full-Stack con un año de expericencia en tecnologías como Angular, ASP .NET, SQL Server, tres años de experiencia el soporte técnico, 
                atención a clientes, apacionado por la tecnología y los videojuegos. </p>
            <div class="fila">
                <div class="col">
                    <h3>Datos Personales</h3>
                    <ul>
                        <li>
                            <strong>Cumpleaños</strong>
                            18-12-1995
                        </li>
                        <li>
                            <strong>Teléfono</strong>
                            5633212233
                        </li>
                        <li>
                            <strong>Email</strong>
                            gio_1933@hotmail.com
                        </li>
                        <li>
                            <strong>Dirección</strong>
                            Ruiseñor #18 Col. Bellavista, Alcaldía Álvaro Obregón
                        </li>
                        <li>
                            <strong>Cargo</strong>
                            <span>Desarrollador de Software Jr.</span>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Intereses</h3>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i class="fa-solid fa-gamepad"></i>
                            <span>JUEGOS</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-headphones"></i>
                            <span>MÚSICA</span>
                        </div>
                        <div class="interes">
                            <i class="fa-solid fa-person-hiking"></i>
                            <span>DEPORTE</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <button>
                <a class="btn btn-download" href="assets/download/Garcia-Cedillo-CV.pdf" download="Garcia-Cedillo-CV">Descargar CV <i class="fa-solid fa-download"></i></a>
                <span class="overlay"></span>
            </button>
        </div>
    </section>

    <section class="skills" id="skills">
        <div class="contenido-seccion">
            <h2>Habilidades</h2>
            <div class="fila">
                <div class="col">
                    <h3>Habilidades Técnicas</h3>
                    <div class="skill">
                        <span>TypeScript & JavaScript</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>HTML & CSS</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>40%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Angular</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>ASP .NET</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>35%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Java</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Python</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Git & GitHub</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>SQL Serve & MySQL</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>35%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>PHP</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>35%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3>Habilidades Profesionales</h3>
                    <div class="skill">
                        <span>Comunicación</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Trabajo en Equipo</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Creatividad</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Dedicación</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Puntualidad</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Trato con Clientes</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Adaptación a nuevos entornos</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>95%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Metodología Ágil</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Trello & Figma</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="curriculum" class="curriculum">
        <div class="contenido-seccion">
            <h2>Curriculum</h2>
            <div class="fila">
                <div class="col izquierda">
                    <h3>Educación</h3>
                    <div class="item izq">
                        <h4>Diplomado en Ciencia de Datos</h4>
                        <span class="casa">Tecnológico Nacional de México</span>
                        <span class="fecha">Mayo del 2024 - Actual</span>
                        <p></p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <h4>Ingeniería en sistemas computacionales</h4>
                        <span class="casa">Universidad del Desarrollo Empresarial y Pedagógico</span>
                        <span class="fecha">2018 - 2021</span>
                        <p></p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <h4>Preparatoria</h4>
                        <span class="casa">Instituto Mexicano de Regularización</span>
                        <span class="fecha">2015 - 2016</span>
                        <p></p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                </div>
                <div class="col derecha">
                    <h3>Experiencia de trabajo</h3>
                    <div class="item der">
                        <h4>Desarrollador de Software Jr.</h4>
                        <span class="casa">Soluciones Empresariales RJG</span>
                        <span class="fecha">2023 - Actual</span>
                        <p>Tareas realizadas: Manejo y creacion de bases de datos en Sql Server, creación de software con tecnología ASP .NET y Angular con manejo de Api, manejo de ambiente en QA y PROD.</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <h4>Implant Moder Work Place and Security</h4>
                        <span class="casa">Secnesys (Microsoft)</span>
                        <span class="fecha">Octubre 2022 - Febrero 2023</span>
                        <p>Tareas realizadas: Creación de usuarios y grupos por medio de Azure, manejo y creación de políticas de accesos condicionales, configuración de MFA y correos.</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <h4>Consultor Jr. Técnico</h4>
                        <span class="casa">KIO NETWORKS (MÁS NEGOCIO)</span>
                        <span class="fecha">Octubre 2021 - Mayo 2022 </span>
                        <p>Tareas realizadas: Manejo de bases de datos en MySql, ambiente de QA y PROD, atención a usuarios por medio de Helix, manejo de Script en PHP, tmbrados y cancelaciones a CFDI'S en versiones 3.3 y 4.0</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio" class="portfolio">
        <div class="contenido-seccion">
            <h2>PORTFOLIO</h2>
            <div class="galeria">
                <div class="proyecto">
                    <img src="assets/img/appweather.png" alt="">
                    <div class="overlay">
                        <a href="https://appweathergio.netlify.app"><h3>App Weather</h3></a>
                    </div>
                    <p>App realizada en Angular con Api OpenWeather. Nos ayuda a realizar consultas del clima para diferentes paises.</p>
                </div>
                <div class="proyecto">
                    <img src="assets/img/listado.png" alt="">
                    <div class="overlay">
                        <a href="https://domicilios-empresas.netlify.app"><h3>Listado de Empresas</h3></a>
                    </div>
                    <p>App realizada en Angular con Api en ASP .NET como BackEnd y Sql Server. Podemos agregar y/o editar los domicilios, asi como el link para poder verlo en googlemaps. </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <a href="#inicio" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
    </footer>

    <script src="assets/js/script.js"></script>

</body>
